 <h1>Edit Question</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for questions</p>
     <ul>
       <li>Make sure to provide detail.</li>
       <li>Search the questions to make sure yours does not already exist.</li>
       <li>Mark your question resolved once you receive your answer.</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @question do |f| %>
       <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter question title" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter question body" %>
       </div>
       <div class="form-group">
          <%= f.label :resolved, class: 'checkbox' do %>
            <%= f.check_box :resolved %> Resolved question
          <% end %>
        </div>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
          <%= link_to "Delete", f.object, class: 'btn btn-success', data: {method: 'DELETE', confirm: 'Are you sure?'} %>
        <% end %>
      </div>
   </div>
